/***Footer***/
footer {
  background-color: $footer;
  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
  }
}

.footer {
  @include flex($direction: column, $gap: 16px);
  width: 100%;
  padding: 22px 25px;
  max-width: 1440px;
  color: white;

  @media (min-width: 768px) {
    @include flex(
      $direction: row-reverse,
      $justify: initial,
      $align: flex-end,
      $gap: 0
    );
    height: 114px;
    padding: 30px 17.5px;
    address .footer__link {
      width: 80px;
    }
  }
  @media (min-width: 1024px) {
    gap: 16px;
    padding: 30px 25px;
    address .footer__link {
      width: 130px;
    }
  }
  &__title {
    height: 27px;
  }
  &__list {
    @include flex($direction: column, $gap: 7px);
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 7px;
    @media (min-width: 768px) {
      @include flex(
        $direction: row,
        $justify: flex-end,
        $align: flex-end,
        $gap: 7px
      );
    }
  }
  &__link {
    @include flex($align: center, $gap: 10px);
    height: 19px;
    width: 190px;
    transition: all 0.25s;
    &--other-size {
      width: 130px;
    }
  }
}
