* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color:inherit;
  }
  body {
    background-color:white;
    position: relative;
    width: 100%;
    margin: auto;
  }
  header {
    background-color:white;
  }
  fieldset,
  button,
  input {
    border: none;
  }
  ul {
    list-style: none;
  }
  :focus {
    outline: none;
  }
  