/******Typo******/

body {
  font-family: "Roboto", sans-serif;
}

.header__logo-txt {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
}

.reserver__content {
  font-size: 18px;
  font-weight:300;
}