/******Typo******/

/*****Fonts******/
$main-font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;
/******Weights******/
$bold:700;
$semi-bold:500;
$regular:400;
$thin:300;
/******Sizes******/
$header:30px;
$regular-size:18px;
$small-size:16px;
/******Colors******/
$local:#353535;

/******Main******/
body {
  font-family: $main-font;
}

/******Header******/
.header__logo-txt {
  font-family: $title-font;
  font-size: $header;
  font-weight: $regular;
}
.localisation-container {
  input[type="text"],
  input[type="text"]::placeholder {
    font-size: $small-size;
    font-weight: $semi-bold;
    font-family:$main-font;
    color:$local;
  }
}
.reserver__content {
  font-size: $regular-size;
  font-weight:$thin;
}

.card {
  &__heart-icon {
    font-size: 22px;
  }

  &__title {
    font-size: 18px;
    font-weight: $bold;
  }

  &__subtitle {
    font-size: 17px; 
    font-weight: $thin;
  }
}
/******restaurant******/
.restaurant-page {
  &__title {
  font-family: $title-font;
  font-size: 28px;
  }
}

.footer__title {
  font-family: $title-font;
  font-size:$regular-size;
  font-weight:$thin;
}
/******Buttons******/
.button-explorer,
.button-fonction,
.button-commander {
  font-size: $small-size;
  font-weight: $semi-bold;
}