.fonction {
  &__buttons-container {
    counter-reset: n°Button;
  }
}
.button-fonction {
    display:flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: center;
    gap:initial;
    list-style-type: none;
    counter-increment:n°Button;
    width: 100%;

    &:before {
        display:flex;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
        gap:initial;
        list-style-type: none;
        content: counter(n°Button);
        z-index: 1;

        background-color: $num-fonction;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    &__icon {
        color: #7a7a7a;
      }
    
      &__link {
        margin-left: -12px;
        width: 100%;
        border-radius: 20px;
        padding-left: 24px;
        display: flex;
        flex-direction: initial;
        justify-content: initial;
        align-items: center;
        gap:23px;
        background-color:$button-fonction;
        height: 72.38px;
        border: 1px solid transparent;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        transition: box-shadow, border, background-color, 0.5s;

    }
}