/***Heart***/

.heart-icon-box {
  position: absolute;
  right: 49px;
  bottom: 58px;
  .heart-border {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
  }
  .heart-filled {
    opacity: 0;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      cursor: pointer;
    }
    &:hover + .heart-border,
    &:focus + .heart-border,
    &:active + .heart-border {
      background: linear-gradient(#9356dc, #ff79da);
    }
  }
}
.heart-icon-box-restaurants {
  position: relative;
  right: 27px;
  bottom: -9px;
  .heart-border {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
  }
  .heart-filled {
    opacity: 0;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      cursor: pointer;
    }
    &:hover + .heart-border,
    &:focus + .heart-border,
    &:active + .heart-border {
      background: linear-gradient(#9356dc, #ff79da);
    }
  }
}
