/******Heart******/
/*color-mix(in srgb, #ff79da 70%, rgba(147, 86, 220) 100%);*/
/*.heart-label {
    cursor: pointer;
    
  
    .hidden-heart-input {
      
    }
}*/
.restaurants,
.restaurant-page,
.card {

.fas {
    text-align: center;
    background: linear-gradient(rgba(147, 86, 220),#ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: +1;
    opacity: 0;
    transition: opacity 0.01s;
    
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      cursor: pointer;
    }

    &:hover + .far,
    &:focus + .far,
    &:active {
    background: linear-gradient(rgba(147, 86, 220),#ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
.far {
        text-align: center;
        color: inherit;
        &:active {
            opacity:1;
        }
    }
}

.fa-heart {
    font-size: 26px;
    position: absolute;
    right: 23px;
    bottom: 32px;
    }


.restaurant-page .fa-heart {
    width: 26px;
    position: absolute;
    right: 30px;
    bottom: 2px;
    }

/*#heart:checked + .far  {
    
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: inherit;
}
#heart:checked + .fas  {
    color: transparent;
    background: linear-gradient(-3.33deg, rgb(147, 86, 220) -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text; 
    
}*/

