/******Heart******/
/*color-mix(in srgb, #ff79da 70%, rgba(147, 86, 220) 100%);*/
/*.heart-label {
    cursor: pointer;
    
  
    .hidden-heart-input {
      
    }
}*/
/* Style du conteneur */
.heart-icon-box {
  position: absolute;
  right: 19px;
  bottom: 25px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  
  /* Style de l'icône du coeur */
  .heart-icon {
    width: 28px;
    height: 28px;
    transition: transform 3s; /* Transition pour l'effet de changement de couleur */
     /* Couleur initiale du coeur */
  }
  .hidden-heart-input {
    visibility: hidden; 
  }
  /* Style au clic et état coché pour le premier coeur */
#heart1:checked + .heart-label .heart-icon {
  fill:color-mix(in srgb, rgb(147, 86, 220) 39%, #ff79da 95%); /* Couleur remplie au clic */
  stroke-width: 0; /* Épaisseur du contour à zéro */
}

/* Style au clic et état coché pour le deuxième coeur */
#heart2:checked + .heart-label .heart-icon {
  fill:color-mix(in srgb, rgb(147, 86, 220) 39%, #ff79da 95%); /* Couleur remplie au clic */
  stroke-width: 0; /* Épaisseur du contour à zéro */
}
#heart3:checked + .heart-label .heart-icon {
  fill:color-mix(in srgb, rgb(147, 86, 220) 39%, #ff79da 95%); /* Couleur remplie au clic */
  stroke-width: 0; /* Épaisseur du contour à zéro */
}
#heart4:checked + .heart-label .heart-icon {
  fill: color-mix(in srgb, rgb(147, 86, 220) 39%, #ff79da 95%); /* Couleur remplie au clic */
  stroke-width: 0; /* Épaisseur du contour à zéro */
}

/* Et ainsi de suite pour chaque coeur */

} 
.heart-icon-box-restaurant {
  position:relative;
  height:28px;
  width: 28px;
  
  bottom: 13px;
  text-align: center;
  display: inline-block;
  cursor: pointer;

  .heart-icon {
    width: 28px;
    height: 28px;
    transition: transform 3s; /* Transition pour l'effet de changement de couleur */
     /* Couleur initiale du coeur */
  }
  .hidden-heart-input {
    visibility: hidden; 
  }
  #heart-restaurant:checked + .heart-label .heart-icon {
  fill:color-mix(in srgb, rgb(147, 86, 220) 39%, #ff79da 95%);
  stroke-width: 0; /* Épaisseur du contour à zéro */
  }
}
/*
.restaurants,
.restaurant-page,
.card {
  .fas {
    text-align: center;
    background: linear-gradient(rgba(147, 86, 220), #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: +1;
    opacity: 0;
    transition: opacity 0.01s;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      cursor: pointer;
    }

    &:hover + .far,
    &:focus + .far,
    &:active {
      background: linear-gradient(rgba(147, 86, 220), #ff79da);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .far {
    text-align: center;
    color: inherit;
    &:active {
      opacity: 1;
    }
  }
}

.fa-heart {
  font-size: 26px;
  position: absolute;
  right: 23px;
  bottom: 32px;
}

.restaurant-page .fa-heart {
  width: 26px;
  position: absolute;
  right: 30px;
  bottom: 2px;
}

/*#heart:checked + .far  {
    
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: inherit;
}
#heart:checked + .fas  {
    color: transparent;
    background: linear-gradient(-3.33deg, rgb(147, 86, 220) -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text; 
    
}*/
