 /******Localisation******/
 .localisation-container {
    @include flex ($justify:center, $align:center, $gap:17px);
    height: 50px;
    margin: 0;
    background-color: $location-bg;
  
    input[type=text] {
    width: 109px;
    background-color: $location-bg;
    border: none;
    
    &:focus::placeholder {
    opacity: 0;
    }
    }
}
/******Reserver******/
.reserver {
    @include flex ($direction:column, $justify:center, $align:center, $gap:0);
    text-align:center;
    padding:39px 0 59px 0;
    background-color: $second-bg;
    
    &__title {
        margin-bottom: 12px;
        width: calc(100% - 100px);
        min-width: 275px;
    }

    &__content {
        margin-bottom:27px;
        width: calc(100% - 60px);
        min-width: 315px;
    }
}
/******Fonction******/
.fonction {
    @include flex ($direction:column, $gap:26px);
    padding:48px 20px 68px 20px;
    background-color:$main-bg;
    
    &__buttons-container {
        @include flex ($direction: column, $gap:25px);
    }
}
/******Restaurant******/
.restaurants {
@include flex ($direction:column, $justify:center, $align:center, $gap:26px);
background-color:$second-bg;
padding: 54px 17.5px 66px 17.5px;

    &__title {
        padding-left: 3px;
        width:100%;
        max-width:1080px;
    }
    &__cards-container {
        @include flex ($justify:center, $align:center, $gap:18px);
        flex-wrap:wrap;
        width: 100%;
        max-width: 1080px;
    }
    &__card-link {
        width:100%;
        position:relative;
    }
}