 /******Localisation******/
 .localisation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    height: 50px;
    margin: 0;
    background-color: $location-bg;
  
    & input[type=text] {
    width: 109px;
    background-color: $location-bg;
    border: none;
    font-size: 16px;
    font-weight: 500;
    }
    & input[type=text]:focus::placeholder {
    opacity: 0;
    border: none;
    }
}
/******Reserver******/
.reserver {
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    padding:39px 0 59px 0;
    background-color: $second-bg;
    
    &__title {
        margin-bottom: 12px;
        width: calc(100% - 100px);
        min-width: 275px;
    }

    &__content {
        margin-bottom:27px;
        width: calc(100% - 60px);
        min-width: 315px;
    }
}
/******Fonction******/
.fonction {
    display:flex;
    flex-direction:column;
    justify-content:initial;
    gap:26px;
    padding:48px 20px 68px 20px;
    background-color:$main-bg;
    
    &__buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        gap: 25px;
    }
}
/******Restaurant******/
.restaurants {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 26px;
background-color:$second-bg;
padding: 54px 17.5px 66px 17.5px;

    &__title {
        padding-left: 3px;
        width:100%;
        max-width:1080px;
    }
    &__cards-container {
        display:flex;
        justify-content: center;
        align-items: center;
        gap:18px;
        flex-wrap:wrap;
        width: 100%;
        max-width: 1080px;
    }
    &__card-link {
        width:100%;
        position:relative;
    }
}