/******Restaurants******/
.restaurant-page {
    background-color: white;
    &__img {
      object-fit: cover;
      height: 275px;
      width: 100%;
    }
    &__headline {
      @include flex($justify: space-between);
      max-width: 1055px;
      position: relative;
      margin: -40px auto 0 auto;
      padding: 32px 3.4% 0px 3.4%;
      border-radius: 40px 40px 0 0;
      z-index: 1;
      background: $restaurant-page-bg-color; 
    }

    &__heart-icon-container {
      font-size: 22px;
      width: 24px;
    }  
    &__heart-icon {
    position: absolute;
    line-height: 41px;
    }
    &__form {
      max-width:1055px;
    }
}