/******Colors******/
    $main-bg:#ffffff;
    $location-bg: #eaeaea;
    $second-bg:#f3f3f3;
    $num-fonction:#9356dc;
    $button-fonction:#f7f7f7;
    $local:#353535;
    $footer:#353535;
    /*--indigo:#99e2d0;
    --vert:#008766;
    --bleu-clair:#89c8fa;
    --bleu:#003a68;*/

/*****Weight******/
    $bold:700;
    $semi-bold:500;
    $regular:400;
    $thin:300;
    